button {
  font-family : inherit;
  font-size   : 100%;
  line-height: 1.5em;
  margin-left: 1em;
  border: 1px solid #999;
  border-radius: .5em;
}

button a {
  color: black;
  text-decoration: none;
}

button[type=url] a {
  color: purple;
}

button:hover, button:focus {
  outline   : none;
  color   : #FFF;
}

input[type=search] {
  border-radius: .5em;
  border: 1px dotted #999;
  line-height:1.5em;
  padding-left: .5em;
  -webkit-appearance: none;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type=search]:focus {
  background   : rgba(0,0,0,.1);
  outline      : none;
}

input[type=submit] {
   background   : rgba(0,0,0,.1);
   outline      : none;
}


