
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 30%;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form h1 {
   font-family: "Abyssinica SIL";
   color: #08088A;
   font-size: 1.5em; 
   text-align: center;
   background-color: #A9D0F5;
   margin-bottom: .5em;
   width: 100%;
}

p {
    font-family: "Bitstream Charter";
    font-size: 1.2em;
    line-height: 1em;
    margin-top: .8em;
}

input {
    font-size: 1em;
    border: 1px solid #999;
    padding: 0 .2em 0 .2em;
    margin-bottom: .2em;
}

span {
    color: #B404AE;
}

:root input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin-right: .5em;
    outline: 1px dotted black;
}

a {
    color: #08088A;
    text-decoration: none;
}

span a {
    color: #B404AE;
}

input[type=submit] {
    color: #08088A;
    background-color: #A9D0F5;
}

input:focus {
    outline: 1px solid #B404AE;
    border-radius: .5em;
}

a:hover {
  color: red;
}

img {
  margin-top: 1em;
  position: center;
  width: 100%;
  height: auto;
}
 
/*  Media Query */

@media screen  and (min-width: 1200px) {

form {
    margin: 0 auto;
    width: 30%;
}


form h1 {
   width: 100%;
}

input {
    width: 75%;
    size: auto;
}

input[type=submit] {
    width: auto;
    size: auto;
}

img {
  position: center;
  left:50%;
  right: 50%;
  width: 90%;
  height: auto;
} 

}

@media screen and (min-width: 800px) {

form {
    margin: 0 auto;
    width: 40%;
}

form h1 {
   width: 100%;
}

input {
    width: auto;
    size: 75%;
}


img {
  width: 90%;
  height: auto;
} 

}


@media screen and (min-width: 400px) {

form {
    margin: 0 auto;
    width: 60%;
}

form h1 {
   width: 100%;
}

input {
    width: auto;
    size: 100%;
}

img {
  width: 50%;
  height: auto;
} 

}

@media screen and (min-width: 200px) {

form {
    margin: 0 auto;
    width: 100%;
}

form h1 {
   width: 100%;
}

input {
    width: auto;
    size: 100%;
}

img {
  width: 90%;
  height: auto;
} 

}

  


